*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-primary: #6d31ee;
  --color-primary-shade: #4f28a5;
  --color-primary-light: #aa9dfa;
  --color-primary-light-30-percent: #aa9dfa4d;
  --color-light: #e6e8ec;
  --color-light-40-percent: #e6e8ec66;
  --color-text-gray: #a1a6b4;
  --color-shade-gray: #d2d5dd;
  --color-light-black: #292e39;
  --color-black: #121723;
  --color-red: #ff6f6f;
  --color-promo: #f0d288;
  --color-promo-shade: #bb973e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Muller', sans-serif;
  color: var(--color-black);
  min-width: 320px;
}

.container {
  margin-inline: auto;
  padding-inline: 32px;
}

.btn {
  padding: 0;
  background: none;
  border: none;
}

.lst {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

.lnk {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header__top-wrapper {
  background-color: var(--color-light);
}

.header__top {
  padding-block: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-logo {
  width: 88px;
}

.header__btn {
  padding: 7px 23px 8.5px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.header__main {
  padding-block: 13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__main-logo {
  display: none;
}

.header__mobile-menu-btn > svg {
  display: block;
}

.header__search-btn > svg {
  display: block;
}

.header__page-nav {
  display: none;
}

.header__page-nav--opened {
  padding-inline: 32px;
  /* display: block; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: var(--color-shade-gray);
}

.page-nav__link {
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    outline .1s ease-in-out;
}

.page-nav__link:hover {
  color: var(--color-primary);
}

.page-nav__link:focus-visible {
  background-color: var(--color-primary-light);
  outline: 4px solid var(--color-primary-light);
  outline-offset: 0;
}

.page-nav__link:active {
  color: var(--color-primary-shade);
}

.header__main-btns {
  display: flex;
}

.header__main-btns > .header__btn {
  display: none;
}

.header__search-btn {
  cursor: pointer;
}

.header__search-btn > svg > path {
  transition: stroke .1s ease-in-out;
}

.header__search-btn:hover > svg > path {
  stroke: var(--color-primary-light);
}

.header__search-btn:focus-visible {
  outline: none;
}

.header__search-btn:focus-visible > svg > path {
  stroke: var(--color-primary-light);
}

.header__search-btn:active > svg > path {
  stroke: var(--color-primary-shade);
}

.header__btn {
  cursor: pointer;
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.header__btn:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

.header__btn:focus-visible {
  background-color: var(--color-primary-light);
  outline: none;
}

.header__btn:active {
  background-color: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
}

.header__mobile-music {
  padding-block: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-light);
}

.header__mobile-music-plus {
  margin-right: 5px;
}

.header__mobile-music-text {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: var(--color-primary);
}

.header__bottom-wrapper {
  position: relative;
}

.header__bottom {
  display: flex;
}

.header__site-nav {
  display: none;
}

.site-nav__link {
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    outline .1s ease-in-out;
}

.site-nav__link:hover {
  color: var(--color-primary);
}

.site-nav__link:focus-visible {
  background-color: var(--color-primary-light);
  outline: 3px solid var(--color-primary-light);
  outline-offset: 0;
}

.site-nav__link:active {
  color: var(--color-primary-shade);
}

.header__music {
  padding-block: 9px;
  position: absolute;
  display: none;
  z-index: 3;
  background-color: var(--color-white);
}

.header__music--opened {
  display: flex;
}

.header__player {
  margin-right: 35px;
  min-width: 113px;
}

.header__player:not(:last-child) {
  border-right: 1px solid var(--color-shade-gray);
}

.header__play-btn {
  margin-bottom: 5px;
  line-height: 0;
  cursor: pointer;
}

.header__play-btn > svg > path {
  transition: fill .1s ease-in-out;
}

.header__play-btn:hover > svg > path {
  fill: var(--color-primary);
}

.header__play-btn:focus-visible {
  outline: none;
}

.header__play-btn:focus-visible > svg > path {
  fill: var(--color-primary-light);
}

.header__play-btn:active > svg > path {
  fill: var(--color-primary-shade);
}

.header__player-descr {
  font-size: .625rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.header__player-title {
  font-size: .875rem;
  line-height: 1;
}

.header__age {
  display: none;
}

/* Hero */

.hero {
  padding-block: 39px 41px;
}

.hero__title {
  margin-block: 0 8px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.hero__title--italic {
  font-weight: normal;
  font-style: italic;
}

.hero__text {
  margin-block: 0 20px;
  font-size: .875rem;
  line-height: 1.5;
}

.hero__link {
  color: var(--color-primary);
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border .1s ease-in-out,
    outline .1s ease-in-out;
}

.hero__link:hover {
  border-bottom: 1px solid var(--color-primary);
}

.hero__link:focus-visible {
  background-color: var(--color-primary-light);
  outline: 3px solid var(--color-primary-light);
  outline-offset: 0;
}

.hero__link:active {
  color: var(--color-primary-shade);
  border-bottom: 1px solid var(--color-primary-shade);
}

.hero__btn {
  padding: 17px 45px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: background-color .1s ease-in-out,
    outline .1s ease-in-out;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: var(--color-primary-light);
}

.hero__btn:focus-visible {
  background-color: var(--color-primary-light);
  outline: 2px solid var(--color-primary-shade);
  outline-offset: -2px;
}

.hero__btn:active {
  background-color: var(--color-primary-shade);
}

/* Podcasts */

.podcasts {
  padding-block: 54px;
  background-color: var(--color-light);
}

.podcasts__title {
  margin-block: 0 19px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.podcasts__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.podcast {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
}

.podcast--hidden {
  display: none;
}

.podcast__image {
  height: 72px;
  line-height: 0;
  overflow: hidden;
}

.podcast__image > picture > * {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.podcast__info-top {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light);
}

.podcast__duration {
  margin-block: 0 8px;
  font-size: .75rem;
  line-height: 1;
}

.podcast__title {
  margin-block: 0 5px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.podcast__author {
  margin-block: 0;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.podcast__play-btn {
  line-height: 0;
  cursor: pointer;
}

.podcast__play-btn > svg {
  width: 36px;
  height: 36px;
}

.podcast__play-btn > svg > circle {
  transition: stroke .1s ease-in-out,
    fill .1s ease-in-out;
}

.podcast__play-btn > svg > path {
  transition: fill .1s ease-in-out;
}

.podcast__play-btn:hover > svg > circle {
  stroke: var(--color-primary);
}

.podcast__play-btn:hover > svg > path {
  fill: var(--color-primary);
}

.podcast__play-btn:focus-visible {
  outline: none;
}

.podcast__play-btn:focus-visible > svg > circle {
  stroke: var(--color-primary-light);
}

.podcast__play-btn:focus-visible > svg > path {
  fill: var(--color-primary-light);
}

.podcast__play-btn:active > svg > circle {
  stroke: var(--color-primary-shade);
  fill: var(--color-primary-shade);
}

.podcast__play-btn:active > svg > path {
  fill: var(--color-white);
}

.podcast__stats {
  padding: 6px 34px 7px;
  display: flex;
  gap: 30px;
}

.podcast__stats-btn {
  display: flex;
  align-items: center;
  transition: background-color .1s ease-in-out,
    outline .1s ease-in-out;
  cursor: pointer;
}

.podcast__stats-btn > svg > path {
  transition: fill .1s ease-in-out;
}

.podcast__stats-btn > .podcast__stats-text {
  transition: color .1s ease-in-out;
}

.podcast__stats-btn:hover > svg > path:first-child {
  fill: var(--color-primary);
}

.podcast__stats-btn:hover > .podcast__stats-text {
  color: var(--color-primary);
}

.podcast__stats-btn:focus-visible {
  background-color: var(--color-primary-light);
  outline: 3px solid var(--color-primary-light);
  outline-offset: 0;
}

.podcast__stats-btn:focus-visible > svg > path:first-child {
  fill: var(--color-white);
}

.podcast__stats-btn:focus-visible > svg > path:not(:first-child) {
  fill: var(--color-primary-light);
}

.podcast__stats-btn:focus-visible > .podcast__stats-text {
  color: var(--color-white);
}

.podcast__stats-btn:active > svg > path {
  fill: var(--color-primary-shade);
}

.podcast__stats-btn:active > .podcast__stats-text {
  color: var(--color-primary-shade);
}

.podcast__stats-icon {
  margin-right: 6px;
}

.podcast__stats-text {
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.podcast__date {
  padding: 3px 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  text-align: center;
  font-size: .625rem;
  line-height: 1;
  background-color: var(--color-light);
}

.podcasts__btn-wrrapper {
  display: flex;
  justify-content: center;
}

.podcasts__btn {
  padding: 15px 28px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 40px;
  cursor: pointer;
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.podcasts__btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.podcasts__btn:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  outline: none;
}

.podcasts__btn:active {
  color: var(--color-white);
  background-color: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
}

/* Shows */

.shows {
  padding-block: 55px 30px;
}

.shows-wrapper {
  display: flex;
  flex-direction: column;
}

.shows__title {
  margin-block: 0 19px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.shows__label {
  margin-block: 0 6px;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

/* Choices.js Start */

.choices {
  margin-bottom: 30px;
  border-radius: 10px;
}

.choices[data-type*=select-one]::after {
  margin-top: -4.5px;
  width: 13px;
  height: 9px;
  background-image: url('../img/select-arrow.svg');
  border: none;
  z-index: 3;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -4.5px;
  transform: rotate(180deg);
}

.shows__authors,
.choices__inner {
  position: relative;
  padding: 10.5px 8px 12px;
  width: 100%;
  border: none;
  background-color: var(--color-light);
  border-radius: 10px;
  cursor: pointer;
  transition: outline .1s ease-in-out,
    background-color .1s ease-in-out;
  z-index: 2;
}

.choices:hover {
  background-color: var(--color-light-40-percent);
}

.choices:focus-visible {
  outline: 1px solid var(--color-primary);
}

.choices:focus-visible > .choices__inner {
  outline: 1px solid var(--color-light);
}

.choices:active {
  background-color: var(--color-shade-gray);
}

.is-open .choices__inner {
  border-radius: 10px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  padding-top: 10px;
  top: calc(100% - 10px);
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-radius: 0 0 10px 10px;
  border-color: var(--color-shade-gray);
}

.choices__list--single .choices__item {
  color: var(--color-black);
}

.choices__item {
  color: var(--color-text-gray);
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid var(--color-shade-gray);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: var(--color-black);
  background-color: var(--color-light-40-percent);
}

/* Choices.js End */

.shows__archive-wrapper {
  display: none;
}

.shows__cards {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.shows__card {
  width: calc(50% - 15px);
}

.show {
  background-color: var(--color-white);
}

.show__image {
  height: 50px;
  line-height: 0;
  overflow: hidden;
}

.show__image > picture > * {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.show__info {
  padding: 8px 9px 12px;
  display: flex;
  flex-direction: column;
  min-height: 99px;
  border: 1px solid var(--color-light);
}

.show__title {
  margin-block: 0 6px;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1;
}

.show__date {
  margin-block: 0 auto;
  font-size: .5625rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.show__link {
  display: flex;
  align-items: center;
  width: max-content;
  font-style: italic;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-primary);
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    outline .1s ease-in-out;
}

.show__link-arrow {
  margin-left: 5px;
}

.show__link-arrow > path {
  transition: fill .1s ease-in-out;
}

.show__link:hover {
  color: var(--color-primary);
}

.show__link:hover > svg > path {
  fill: var(--color-primary);
}

.show__link:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  outline: 3px solid var(--color-primary-light);
  outline-offset: 0;
}

.show__link:focus-visible > svg > path {
  fill: var(--color-white);
}

.show__link:active {
  color: var(--color-primary-shade);
}

.show__link:active > svg > path {
  fill: var(--color-primary-shade);
}

.shows__archive-wrapper-after {
  padding-top: 29px;
  display: flex;
  gap: 13px;
  border-top: 1px solid var(--color-light);
}

.shows__archive-mic {
  flex-shrink: 0;
  width: 77px;
  min-height: 105px;
  background-image: url('../img/mic.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.shows__archive-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shows__archive-text {
  margin-block: 0 7px;
  font-size: .875rem;
  line-height: 1.5;
  color: var(--color-text-gray);
}

.shows__archive-btn {
  padding: 6px 18px;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-black);
  border-radius: 77px;
  cursor: pointer;
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.shows__archive-btn-icon {
  margin-right: 4px;
}

.shows__archive-btn-icon > path {
  transition: stroke .1s ease-in-out;
}

.shows__archive-btn:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

.shows__archive-btn:hover > svg > path {
  stroke: var(--color-white);
}

.shows__archive-btn:focus-visible {
  background-color: var(--color-primary-light);
  outline: none;
}

.shows__archive-btn:active {
  color: var(--color-white);
  background-color: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
}

.shows__archive-btn:active > svg > path {
  stroke: var(--color-white);
}

/* Guests */

.guests {
  padding-block: 54px;
  background-color: var(--color-black);
}

.guests__title {
  margin-block: 0 11px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-white);
}

.guests__pre-text {
  margin-block: 0;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.5;
  color: var(--color-text-gray);
}

.guests__text {
  margin-block: 0 29px;
  font-size: .875rem;
  line-height: 1.6;
  color: var(--color-text-gray);
}

.guests__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.guests__type:not(:first-child) {
  margin-top: -1px;
}

.guests__type-wrapper {
  padding-block: 10.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  cursor: pointer;
  transition: background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.guests__type-wrapper--active {
  border-top: 1px solid var(--color-primary-light);
  border-bottom: 1px solid var(--color-primary-light);
}

.guests__type-title {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-white);
  transition: color .1s ease-in-out;
}

.guests__type-unwrap-button > circle {
  transition: stroke .1s ease-in-out,
    fill .1s ease-in-out;
}

.guests__type-unwrap-button > path {
  transition: stroke .1s ease-in-out;
}

.guests__type-wrapper:hover > .guests__type-title {
  color: var(--color-primary-light);
}

.guests__type-wrapper:hover > .guests__type-unwrap-button > circle,
.guests__type-wrapper:hover > .guests__type-unwrap-button > path {
  stroke: var(--color-primary-light);
}

.guests__type-wrapper:focus-visible {
  background-color: var(--color-primary-light-30-percent);
  outline: none;
}

.guests__type-wrapper:active > .guests__type-title {
  color: var(--color-primary-light);
}

.guests__type-wrapper:active > .guests__type-unwrap-button > circle {
  fill: var(--color-primary-light);
  stroke: var(--color-primary-light);
}

.guests__type-wrapper:active > .guests__type-unwrap-button > path {
  stroke: var(--color-white);
}

.guests__type-wrapper--opened > .guests__type-unwrap-button {
  transform: rotate(180deg);
}

.guests__type-names {
  padding-block: 20px 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.guests__name {
  width: 113.5px;
}

.guests__link {
  display: inline-block;
  max-width: 101px;
  font-size: .875rem;
  line-height: 1.1;
  color: var(--color-white);
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    outline .1s ease-in-out;
}

.guests__link:hover {
  color: var(--color-primary-light);
}

.guests__link:focus-visible {
  background-color: var(--color-primary-light);
  outline: 3px solid var(--color-primary-light);
  outline-offset: 0;
}

.guests__link:active {
  color: var(--color-primary);
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.guest__photo {
  margin-bottom: 12px;
  width: 100%;
  min-height: 159px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-black);
}

.guest__socials {
  margin-bottom: 12px;
  display: flex;
  gap: 21px;
}

.guest__social-link {
  display: block;
  height: 36px;
}

.guest__social-link > svg > path {
  transition: fill .1s ease-in-out;
}

.guest__social-link:hover > svg > path {
  fill: var(--color-primary);
}

.guest__social-link:focus-visible {
  outline: none;
}

.guest__social-link:focus-visible > svg > path {
  fill: var(--color-primary-light);
}

.guest__social-link:active > svg > path {
  fill: var(--color-primary-shade);
}

.guest__name {
  margin-block: 0 8px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-white);
}

.guest__info {
  margin-block: 0 31px;
  line-height: 1.8;
  color: var(--color-text-gray);
}

.guest__btn {
  padding: 7.5px 13.5px;
  line-height: 1;
  color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  border-radius: 77px;
  cursor: pointer;
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.guest__btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary-light);
}

.guest__btn:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  outline: none;
}

.guest__btn:active {
  color: var(--color-white);
  background-color: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
}

/* Playlists */

.playlists {
  padding-block: 55px 50px;
}

.playlists__title {
  margin-block: 0 19px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.playlists__genres-title {
  margin-block: 0 6px;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.playlists__genres-wrapper {
  margin-bottom: 30px;
  height: 35px;
}

.playlists__genres {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.playlists__genres::-webkit-scrollbar {
  display: none;
}

.playlists__radio-custom {
  display: none;
}

.playlists__radio:hover + .playlists__radio-custom {
  border-color: var(--color-primary);
}

.playlists__radio:focus-visible + .playlists__radio-custom {
  background-color: var(--color-shade-gray);
  border-color: var(--color-primary);
  outline: none;
}

.playlists__genre:first-child {
  margin-left: 32px;
}

.playlists__genre:last-child {
  margin-right: 32px;
}

.playlists__label {
  padding: 7.5px 19px;
  display: flex;
  width: max-content;
  font-weight: 500;
  line-height: 1;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 77px;
  cursor: pointer;
}

.playlists__label--active {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.playlists__age-wrapper {
  display: none;
}

.playlists__cards {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.playlists__card {
  width: calc(50% - 15px);
}

.playlist {
  position: relative;
  cursor: pointer;
}

.playlist:focus-visible {
  outline: none;
}

.playlist__image {
  position: relative;
  height: 113px;
  line-height: 0;
  overflow: hidden;
}

.playlist__image > picture > * {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.playlist__image::before {
  position: absolute;
  content: '';
  inset: 0;
  background-color: var(--color-black);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease-in-out;
}

.playlist__image::after {
  position: absolute;
  content: '';
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  background-image: url('../img/play.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease-in-out,
    transform .1s ease-in-out;
}

.playlist:hover > .playlist__image::before,
.playlist:focus-visible > .playlist__image::before,
.playlist:active > .playlist__image::before {
  opacity: .8;
}

.playlist:hover > .playlist__image::after,
.playlist:focus-visible > .playlist__image::after,
.playlist:active > .playlist__image::after {
  opacity: 1;
  pointer-events: all;
}

.playlist:active > .playlist__image::after {
  transform: scale(1.17);
}

.playlist__info {
  padding: 9px;
  border: 1px solid var(--color-light);
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.playlist:hover > .playlist__info {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.playlist:focus-visible > .playlist__info {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.playlist:active > .playlist__info {
  color: var(--color-white);
  background-color: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
}

.playlist__title {
  margin-block: 0 5px;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1;
}

.playlist__descr {
  margin-block: 0 auto;
  font-size: .5625rem;
  line-height: 1;
  color: var(--color-text-gray)
}

.playlist__country {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 20px;
  background-color: var(--color-black);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.playlist__country--ru-RU {
  background-image: url('../img/flag-ru-RU.svg');
}

.playlist__country--en-GB {
  background-image: url('../img/flag-en-GB.svg');
}

.playlist__country--en-US {
  background-image: url('../img/flag-en-US.svg');
}

.playlists__age-wrapper-after {
  padding-top: 20px;
  border-top: 1px solid var(--color-light);
}

.playlists__age-info {
  margin-block: 0;
  font-size: .75rem;
  line-height: 1rem;
  color: var(--color-text-gray);
}

.playlists__age-copyright {
  margin-block: 0 6px;
  font-style: italic;
  font-weight: 300;
  font-size: .75rem;
  line-height: 1.375rem;
  color: var(--color-text-gray);
}

/* Speaker */

.speaker {
  padding-block: 54px;
  background-color: var(--color-light-black);
}

.speaker-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.speaker__photo {
  line-height: 0;
}

.speaker__title {
  margin-block: 0 10px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-promo);
}

.speaker__wave-line {
  margin-bottom: 19px;
  height: 12px;
  background-image: url('../img/wave-line.svg');
  background-size: auto;
  background-repeat: repeat-x;
}

.speaker__text {
  margin-block: 0 12px;
  font-size: .875rem;
  line-height: 1.57;
  color: var(--color-white);
}

.speaker__link {
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  color: var(--color-promo);
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border .1s ease-in-out,
    outline .1s ease-in-out;
}

.speaker__link:hover {
  border-bottom: 1px solid var(--color-promo);
}

.speaker__link:focus-visible {
  color: var(--color-white);
  background-color: var(--color-promo-shade);
  outline: 3px solid var(--color-promo-shade);
  outline-offset: 0;
}

.speaker__link:active {
  color: var(--color-promo-shade);
  border-bottom: 1px solid var(--color-promo-shade);
}

.speaker__price {
  margin-block: 0 20px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-white)
}

.speaker__btn {
  padding: 13px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-promo);
  border: 2px solid var(--color-promo);
  border-radius: 100px;
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.speaker__btn-icon > g > path {
  transition: fill .1s ease-in-out;
}

.speaker__btn:hover {
  color: var(--color-black);
  background-color: var(--color-promo);
}

.speaker__btn:hover > svg > g > path:first-child {
  fill: var(--color-black);
}

.speaker__btn:hover > svg > g > path:not(:first-child) {
  fill: var(--color-promo);
}

.speaker__btn:focus-visible {
  color: var(--color-black);
  background-color: var(--color-promo-shade);
  outline: none;
}

.speaker__btn:active {
  color: var(--color-black);
  background-color: var(--color-promo-shade);
  border-color: var(--color-promo-shade);
}

.speaker__btn:active > svg > g > path:first-child {
  fill: var(--color-black);
}

.speaker__btn:active > svg > g > path:not(:first-child) {
  fill: var(--color-promo-shade);
}

/* About */

.about {
  padding-block: 54px;
  background-color: var(--color-black);
}

.about__title {
  margin-block: 0 12px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-white);
}

.about__pre-text {
  margin-block: 0 4px;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.5;
  color: var(--color-text-gray);
}

.about__text {
  margin-block: 0 30px;
  font-size: .875rem;
  line-height: 1.57;
  color: var(--color-text-gray);
}

.about__decor-wrapper {
  display: none;
}

.about__team {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__person {
  width: calc(50% - 15px);
}

.person__photo {
  margin-bottom: 12px;
  height: 113px;
  line-height: 0;
  overflow: hidden;
}

.person__photo > picture > * {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.person__name {
  margin-block: 0 4px;
  width: 96%;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.125rem;
  color: var(--color-white);
}

.person__info {
  margin-block: 0;
  font-size: .75rem;
  line-height: 1rem;
  color: var(--color-text-gray);
}

.about__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.about__textarea {
  padding: 16px 23px;
  width: 100%;
  min-height: 150px;
  line-height: 1;
  color: var(--color-white);
  background: none;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  transition: background-color .1s ease-in-out,
    border-color .1s ease-in-out;
}

.about__input {
  padding: 16px 23px;
  width: 100%;
  line-height: 1;
  color: var(--color-white);
  background: none;
  border: 1px solid var(--color-white);
  border-radius: 40px;
}

.about__textarea:hover,
.about__input:hover {
  background-color: #E6E8EC1A;
}

.about__textarea:focus-visible,
.about__input:focus-visible {
  background-color: #E6E8EC1A;
  border-color: var(--color-primary-light);
  outline: none;
}

.about__textarea::placeholder,
.about__input::placeholder {
  color: var(--color-text-gray);
}

.about__btn {
  padding: 17px 44.5px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 40px;
}

.about__label {
  margin-top: -10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .5625rem;
  line-height: 1;
  color: var(--color-white);
}

.about__checkbox-custom {
  width: 13px;
  height: 13px;
  border: 1px solid var(--color-white);
  background-position: center center;
  background-repeat: no-repeat;
}

.about__checkbox:checked + .about__checkbox-custom{
  background-image: url('../img/check.svg');
}

/* Footer */

.footer {
  background-color: var(--color-light-black);
}

.footer-wrapper {
  padding-block: 54px;
}

.footer__logo-socials {
  margin-left: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 20px;
  line-height: 0;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.footer__social {
  font-size: 0;
}

.footer__social-link {
  line-height: 0;
}

.footer__social-link > svg > path {
  transition: fill .1s ease-in-out;
}

.footer__social-link:hover > svg > path {
  fill: var(--color-primary);
}

.footer__social-link:focus-visible {
  outline: none;
}

.footer__social-link:focus-visible > svg > path {
  fill: var(--color-primary-light);
}

.footer__social-link:active > svg > path {
  fill: var(--color-primary-shade);
}

.footer__nav {
  display: none;
}

.footer__nav-mobile {
  margin-bottom: 10px;
  padding-block: 30px;
  background-color: var(--color-black);
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 30px;
}

.footer__nav-item {
  width: calc(50% - 15px);
  line-height: 0;
}

.footer__nav-link {
  font-size: .75rem;
  line-height: 1;
  color: var(--color-white);
  transition: color .1s ease-in-out,
    background-color .1s ease-in-out,
    outline .1s ease-in-out;
}

.footer__nav-link:hover {
  color: var(--color-primary-light);
}

.footer__nav-link:focus-visible {
  background-color: var(--color-primary-light);
  outline: 3px solid var(--color-primary-light);
  outline-offset: 0;
}

.footer__nav-link:active {
  color: var(--color-primary);
}

.footer__wave-line {
  height: 12px;
  background-image: url('../img/wave-line.svg');
  background-size: auto;
  background-repeat: repeat-x;
  background-position: left 17px center;
}

.footer__copyright {
  margin-block: 0;
  padding-block: 8px 12px;
  text-align: center;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

@media (min-width: 768px) {

  .container {
    padding-inline: 114px;
  }

  /* Header */

  .header__top {
    padding-block: 20px;
  }

  .header__top-logo {
    width: 113px;
  }

  .header__top > .header__btn {
    display: none;
  }

  .header__main {
    padding-block: 20px;
  }

  .header__main-btns > .header__btn {
    display: block;
  }

  .header__main-btns {
    gap: 24px;
  }

  .header__btn {
    padding: 10px 31.5px;
  }

  .header__mobile-music {
    display: none;
  }

  .header__bottom-wrapper {
    border: 1px solid var(--color-light);
  }

  .header__bottom {
    padding-block: 17px;
  }

  .header__site-nav {
    display: block;
    width: 100%;
  }

  .site-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-nav__item > .header__play-btn {
    margin-bottom: 0;
    margin-left: -6px;
    display: block;
  }

  /* Hero */

  .hero {
    padding-block: 90px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 3.75rem;
  }

  .hero__text {
    font-size: 1rem;
  }

  .hero__btn {
    padding: 25px 54px;
    font-size: 1.25rem;
  }

  /* Podcasts */

  .podcasts {
    padding-block: 94px;
  }

  .podcasts__title {
    margin-bottom: 30px;
    font-size: 3rem;
  }

  .podcasts__list {
    margin-bottom: 60px;
  }

  .podcast {
    flex-direction: row;
    min-height: 140px;
  }

  .podcast__image {
    width: 112px;
    height: 100%;
  }

  .podcast__image > picture > * {
    width: 100%;
    top: auto;
    height: auto;
    transform: none;
  }

  .podcast__info-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .podcast__info-top {
    padding: 24px 30px;
    flex-grow: 1;
  }

  .podcast__title {
    margin-bottom: 4px;
    font-size: 1.25rem;
  }

  .podcast__author {
    font-size: 1rem;
  }

  .podcast__play-btn > svg {
    width: 48px;
    height: 48px;
  }

  .podcast__stats {
    padding: 8px 30px 7px;
  }

  .podcast__stats-text {
    font-size: 1rem;
  }

  .podcast__date {
    top: auto;
    bottom: 0;
  }

  .podcasts__btn {
    padding: 23px 53px;
    font-size: 1.25rem;
  }

  /* Shows */

  .shows {
    padding-block: 94px 30px;
  }

  .shows__title {
    margin-bottom: 12px;
    font-size: 3rem;
  }

  .shows__label {
    margin-bottom: 8px;
    font-size: 1rem;
  }

  .shows__authors {
    margin-bottom: 47px;
    width: calc(50% - 15px);
  }

  .shows__cards {
    margin-bottom: 60px;
  }

  .show__image {
    height: 148px;
  }

  .show__info {
    padding: 19px 15px;
    min-height: 112px;
  }

  .show__title {
    margin-bottom: 3px;
    font-size: 1.25rem;
  }

  .show__date {
    font-size: .75rem;
  }

  .show__link {
    font-size: 1rem;
    color: var(--color-black);
  }

  .show__link-arrow > path {
    fill: var(--color-black);
  }

  .shows__archive-wrapper-after {
    justify-content: center;
    gap: 20px;
  }

  .shows__archive-mic {
    width: 70px;
    min-height: 96px;
  }

  .shows__archive-info {
    flex-direction: column-reverse;
    max-width: 47%;
  }

  .shows__archive-btn {
    margin-bottom: 8px;
    padding: 9px 44px;
  }

  .shows__archive-text {
    margin-bottom: 0;
    font-size: 1rem;
  }

  /* Guests */

  .guests {
    padding-block: 94px;
  }

  .guests__title {
    margin-bottom: 12px;
    font-size: 3rem;
  }

  .guests__pre-text {
    margin-bottom: 8px;
    font-size: 1.25rem;
  }

  .guests__text {
    margin-bottom: 50px;
    font-size: 1.25rem;
  }

  .guests__wrapper {
    gap: 50px;
  }

  .guests__type-wrapper {
    padding-block: 20px;
  }

  .guests__type-title {
    font-size: 1.25rem;
  }

  .guests__type-unwrap-button {
    width: 48px;
    height: 48px;
  }

  .guests__type-names {
    padding-block: 30px 27px;
  }

  .guests__name {
    width: 160.5px;
  }

  .guests__link {
    max-width: none;
    font-size: 1rem;
  }

  .guest__photo {
    min-height: 220px;
  }

  .guest__socials {
    gap: 30px;
  }

  .guest__social-link {
    height: 24px;
  }

  .guest__social-link > svg {
    height: 24px;
    width: 24px;
  }

  .guest__info {
    width: 73%;
  }

  .guest__btn {
    padding: 10px 18.5px;
  }

  /* Playlists */

  .playlists {
    padding-block: 94px 90px;
  }

  .playlists__title {
    margin-bottom: 11px;
    font-size: 3rem;
  }

  .playlists__genres-title {
    margin-bottom: 8px;
    font-size: 1rem;
  }

  .playlists__genres-wrapper {
    height: auto;
    margin-bottom: 50px;
  }

  .playlists__genres {
    position: initial;
    max-height: 210px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px 0;
  }

  .playlists__genre {
    display: inline-block;
    width: max-content;
  }

  .playlists__genre:first-child {
    margin-left: 0;
  }

  .playlists__genre:last-child {
    margin-right: 0;
  }

  .playlists__label {
    padding: 0;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--color-black);
    background: none;
    border: none;
    border-radius: 0;
  }

  .playlists__radio-custom {
    margin: 2px;
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 2px solid var(--color-text-gray);
    border-radius: 26px;
    transition: border .1s ease-in-out,
      background-color .1s ease-in-out;
  }

  .playlists__radio:checked + .playlists__radio-custom {
    border: 7px solid var(--color-primary);
  }

  .playlists__cards {
    margin-bottom: 50px;
  }

  .playlist {
    display: flex;
  }

  .playlist__image {
    width: 112px;
    height: 112px;
  }

  .playlist__info {
    padding-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  .playlist__title {
    font-size: 1rem;
  }

  .playlist__descr {
    margin-bottom: 0;
    font-size: .75rem;
  }

  .playlist__country {
    right: auto;
    left: 0;
  }

  .playlists__age-wrapper-after {
    padding-top: 30px;
  }

  .playlists__age-info {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .playlists__age-copyright {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  /* Speaker */

  .speaker {
    padding-bottom: 94px;
  }

  .speaker-wrapper {
    gap: 50px;
  }

  .speaker__title {
    margin-bottom: 19px;
    font-size: 3rem;
  }

  .speaker__wave-line {
    margin-bottom: 18px;
  }

  .speaker__text {
    font-size: 1rem;
    line-height: 1.8;
  }

  .speaker__text:last-child {
    margin-bottom: 30px;
  }

  .speaker__price {
    margin-bottom: 30px;
    font-size: 1.875rem;
  }

  .speaker__btn {
    padding: 23.5px 12px;
    width: max-content;
    font-size: 1.25rem;
  }

  /* About */

  .about {
    padding-block: 94px;
  }

  .about__title {
    margin-bottom: 12px;
    font-size: 3rem;
  }

  .about__pre-text {
    margin-bottom: 8px;
    font-size: 1.25rem;
  }

  .about__text {
    margin-bottom: 29px;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .about__decor-wrapper {
    margin-bottom: 29px;
    display: block;
    position: relative;
    height: 114px;
  }

  .about__decor {
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('../img/about-decor-tablet.svg');
    background-position: right center;
    background-repeat: no-repeat;
    overflow: visible;
  }

  .person__photo {
    margin-bottom: 31px;
    height: 255px;
  }

  .person__name {
    margin-bottom: 8px;
    font-size: 1.25rem;
  }

  .person__info {
    font-size: 1rem;
    line-height: 1.5;
  }

  .about__textarea {
    padding: 29px 31px;
    font-size: 1.25rem;
    border-radius: 30px;
  }

  .about__input {
    padding: 24px 31px;
    font-size: 1.25rem;
  }

  .about__btn {
    padding: 25px 54px;
    font-size: 1.25rem;
  }

  .about__label {
    margin-top: 0;
    font-size: .75rem;
    align-items: flex-end;
  }

  .about__checkbox-custom {
    width: 14px;
    height: 14px;
  }

  /* Footer */

  .footer-wrapper {
    padding-block: 94px 0;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .footer__nav {
    display: block;
    background-color: var(--color-light-black);
  }

  .footer__nav-list {
    gap: initial;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer__nav-col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: max-content;
  }

  .footer__nav-item {
    width: auto;
  }

  .footer__nav-link {
    font-size: 1rem;
  }

  .footer__nav-mobile {
    display: none;
  }

  .footer__wave-line {
    background-image: url('../img/wave-line-tablet.svg');
    background-position: center center;
  }

  .footer__copyright {
    padding-bottom: 12px;
    font-size: 1rem;
  }

}

@media (min-width: 1024px) {

  .container {
    padding-inline: 100px;
  }

  /* Header */

  .header__mobile-menu-btn {
    display: none;
  }

  .header__page-nav {
    margin-right: 34px;
    display: block;
    flex-grow: 1;
  }

  .page-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .page-nav__link {
    font-size: 1.25rem;
    line-height: 1;
  }

  .header__bottom {
    padding-block: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .header__site-nav {
    margin-right: 34px;
  }

  .site-nav__item:last-child {
    display: none;
  }

  .header__music {
    padding-block: 0;
    position: inherit;
    display: flex;
    justify-content: end;
    flex-shrink: 0;
  }

  .header__player {
    margin-right: 0;
    padding: 2.5px 10px;
    display: flex;
    align-items: center;
    gap: 8.5px;
    border-left: 1px solid var(--color-shade-gray);
    border-right: 1px solid var(--color-shade-gray);
  }

  .header__player:not(:first-child) {
    margin-left: -1px;
  }

  .header__play-btn {
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .header__player-info {
    flex-shrink: 0;
    min-width: 96px;
  }

  .header__player-descr {
    margin-bottom: 5px;
    font-size: .75rem;
  }

  .header__player-title {
    font-size: 1rem;
  }

  /* Hero */

  .hero {
    background-image: url('../img/hero-mic.jpg');
    background-position: right 100px center;
    background-repeat: no-repeat;
  }
  @media /* only for retina displays */
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url('../img/hero-mic@2x.jpg');
      background-size: 256px 262px;
    }
  }

  .hero__title {
    max-width: 65%;
  }

  .hero__text {
    max-width: 65%;
  }

  /* Podcasts */

  .podcasts {
    padding-bottom: 92px;
  }

  .podcasts__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .podcasts__card {
    width: calc(50% - 15px);
  }

  /* Shows */

  .shows {
    padding-bottom: 34px;
  }

  .shows-wrapper {
    flex-direction: row;
    gap: 30px;
  }

  .shows__aside {
    width: calc(33.33% - 20px);
    flex-shrink: 0;
  }

  .shows__authors {
    margin-bottom: 227px;
    width: 100%;
  }

  .shows__archive-wrapper {
    display: flex;
    flex-direction: column;
  }

  .shows__archive-mic {
    margin-bottom: 24px;
    width: 65px;
    min-height: 89px;
  }

  .shows__archive-info {
    max-width: none;
  }

  .shows__archive-btn {
    margin-bottom: 12px;
    padding-block: 8px;
  }

  .shows__cards {
    padding-top: 14px;
  }

  .shows__archive-wrapper-after {
    display: none;
  }

  /* Guests */

  .guests__title,
  .guests__pre-text,
  .guests__text {
    max-width: 65%;
  }

  .guests__wrapper {
    flex-direction: row;
    gap: 30px;
  }

  .guests__types {
    min-width: 540px;
  }

  .guests__type-names {
    padding-bottom: 31px;
    row-gap: 13px;
  }

  .guest__photo {
    min-height: 159px;
  }

  .guest__info {
    margin-bottom: 29px;
    width: auto;
    line-height: 1.82;
  }

  .guest__btn {
    padding-inline: 18px;
  }

  /* Playlists */

  .playlists {
    padding-bottom: 88px;
  }

  .playlists__genres-wrapper {
    margin-bottom: 30px;
  }

  .playlists__genres {
    row-gap: 16.5px;
    width: 65%;
  }

  .playlists__genres-col {
    gap: 16px;
  }

  .playlists__card {
    width: calc(33.33% - 20px);
  }

  .playlist__title {
    margin-bottom: 4px;
  }

  /* About */

  .speaker {
    padding-top: 94px;
  }

  .speaker-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .speaker__text:last-child {
    line-height: 1.82;
  }

  /* About */

  .about__text-wrapper {
    background-image: url('../img/about-decor-tablet-landscape.svg');
    background-position: right center;
    background-repeat: no-repeat;
  }

  .about__title,
  .about__pre-text,
  .about__text {
    max-width: 65%;
  }

  .about__decor-wrapper {
    display: none;
  }

  .about__team {
    margin-bottom: 31px;
  }

  .person__photo {
    margin-bottom: 32px;
  }

  .about__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__input {
    width: calc(50% - 15px);
  }

  .about__label {
    flex-basis: 100%;
  }

  /* Footer */

  .footer-wrapper {
    padding-top: 95px;
    margin-bottom: 94px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo-socials {
    padding-left: 8px;
  }

  .footer__social-link > svg {
    width: 24px;
    height: 24px;
  }

  .footer__nav {
    min-width: 445px;
  }

  .footer__nav-col {
    gap: 20px;
  }

  .footer__wave-line {
    background-image: url('../img/wave-line-tablet-landscape.svg');
  }

  .footer__copyright {
    padding-top: 10px;
  }

}

@media (min-width: 1310px) {

  .container {
    padding-inline: calc((100vw - 1110px) / 2);
  }

  /* Header */

  .header__top {
    display: none;
  }

  .header__main-logo {
    margin-right: 80px;
    display: block;
  }

  .header__page-nav {
    margin-right: 80px;
  }

  .header__btn {
    padding-inline: 31px;
  }

  .header__site-nav {
    margin-right: 52px;
  }

  .header__music {
    margin-right: 52px;
  }

  .header__player {
    min-width: 175px;
  }

  .header__age {
    margin-block: -11px;
    display: block;
    line-height: 0;
  }

  /* Hero */

  .hero {
    padding-block: 94px;
    background-image: url('../img/hero-mic-desktop.jpg');
    background-position: right calc((100vw - 1110px) / 2) center;
  }
  @media /* only for retina displays */
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url('../img/hero-mic-desktop@2x.jpg');
      background-size: 350px 372px;
    }
  }

  .hero__title {
    margin-bottom: 15px;
    max-width: 55%;
  }

  .hero__text {
    margin-bottom: 45px;
    max-width: 55%;
  }

  /* Podcasts */

  .podcasts {
    padding-bottom: 94px;
  }

  /* Shows */

  .shows__aside {
    width: calc(25% - 22.5px);
  }

  .shows__card {
    width: calc(33% - 17.5px);
  }

  .guests__title,
  .guests__pre-text,
  .guests__text {
    max-width: 70%;
  }

  .guests__types {
    width: calc(67% - 15px);
  }

  .guests__name {
    width: calc(25% - 22.5px);
  }

  .guests__person-info {
    width: calc(33% - 15px);
  }

  .guest__photo {
    margin-bottom: 13px;
    min-height: 220px;
  }

  /* Playlists */

  .playlists {
    padding-bottom: 94px;
  }

  .playlists-wrapper {
    display: flex;
    gap: 30px;
  }

  .playlists__aside {
    width: calc(33% - 16.3px);
    min-width: 350px;
  }

  .playlists__genres {
    max-height: none;
    width: auto;
    flex-wrap: nowrap;
    overflow: initial;
  }

  .playlists__age-wrapper {
    padding-top: 30px;
    display: block;
    border-top: 1px solid var(--color-shade-gray);
  }

  .playlists__cards {
    padding-top: 14px;
    margin-bottom: 0;
  }

  .playlists__card {
    width: calc(25% - 22.5px);
    flex-direction: column;
  }

  .playlists__age-wrapper-after {
    display: none;
  }

  .playlist__image {
    width: 100%;
    height: 160px;
    line-height: 0;
    overflow: hidden;
  }

  .playlist__image > picture > * {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  .playlist__info {
    padding: 15px;
  }

  .playlist__country {
    left: auto;
    right: 0;
  }

  /* Speaker */

  .speaker {
    padding-bottom: 132px;
  }

  .speaker-wrapper {
    gap: 25px;
  }

  .speaker__photo {
    position: relative;
    bottom: 5px;
    right: 5px;
  }

  .speaker__wave-line {
    background-image: url('../img/wave-line-desktop.svg');
  }

  .speaker__btn {
    padding-block: 23px;
  }

  /* About */

  .about__text-wrapper {
    background-image: url('../img/about-decor-desktop.svg');
  }

  .about__title {
    margin-bottom: 13px;
  }

  .about__title,
  .about__pre-text,
  .about__text {
    max-width: 58%;
  }

  .about__person {
    width: calc(25% - 22.5px);
  }

  .about__form {
    max-width: 920px;
  }

  /* Footer */

  .footer-wrapper {
    padding-top: 93px;
  }

  .footer__copyright {
    padding-top: 9px;
  }

}
