*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-primary: #6d31ee;
  --color-primary-shade: #4f28a5;
  --color-primary-light: #aa9dfa;
  --color-light: #e6e8ec;
  --color-light-40-percent: #e6e8ec66;
  --color-text-gray: #a1a6b4;
  --color-shade-gray: #d2d5dd;
  --color-light-black: #292e39;
  --color-black: #121723;
  --color-red: #ff6f6f;
  --color-promo: #f0d288;
  --color-promo-shade: #bb973e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Muller', sans-serif;
  color: var(--color-black);
  min-width: 320px;
}

/* Common */

.container {
  margin: 0 auto;
  padding: 0 32px;
}

.btn {
  padding: 0;
  background: none;
  border: none;
}

.lst {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

/* Header */

.header__top {
  padding-block: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light);
}

.header__top-logo {
  width: 88px;
}

.header__btn {
  padding: 7px 23px 8.5px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.header__main {
  padding-block: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__main-logo {
  display: none;
}

.header__mobile-menu-btn > svg {
  display: block;
}

.header__search-btn > svg {
  display: block;
}

.header__page-nav {
  display: none;
}

.header__main-btns {
  display: flex;
}

.header__main-btns .header__btn {
  display: none;
}

.header__mobile-music {
  padding-block: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-light);
}

.header__mobile-music-plus {
  margin-right: 5px;
}

.header__mobile-music-text {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: var(--color-primary);
}

.header__bottom {
  position: relative;
  display: flex;
}

.header__site-nav {
  display: none;
}

.header__music {
  padding-block: 9px;
  position: absolute;
  display: none;
  z-index: 10;
  background-color: var(--color-white);
}

.header__player {
  margin-right: 35px;
  min-width: 113px;
}

.header__player:not(:last-child) {
  border-right: 1px solid var(--color-shade-gray);
}

.header__play-btn {
  margin-bottom: 5px;
}

.header__player-descr {
  font-size: .625rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.header__player-title {
  font-size: .875rem;
  line-height: 1;
}

/* Hero */

.hero {
  padding-block: 39px 41px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.hero__title--italic {
  font-weight: normal;
  font-style: italic;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: .875rem;
  line-height: 1.5;
}

.hero__btn {
  padding: 17px 45px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* Podcasts */

.podcasts {
  padding-block: 54px;
  background-color: var(--color-light);
}

.podcasts__title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.podcasts__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.podcast {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
}

.podcast--hidden {
  display: none;
}

.podcast__image {
  height: 72px;
  line-height: 0;
  overflow: hidden;
}

.podcast__image > picture > * {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.podcast__info-top {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light);
}

.podcast__duration {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: .75rem;
  line-height: 1;
}

.podcast__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.podcast__author {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.podcast__stats {
  padding: 6px 34px 7px;
  display: flex;
  gap: 30px;
}

.podcast__stats-btn {
  display: flex;
  align-items: center;
}

.podcast__stats-icon {
  margin-right: 6px;
}

.podcast__stats-text {
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.podcast__date {
  padding: 3px 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  text-align: center;
  font-size: .625rem;
  line-height: 1;
  background-color: var(--color-light);
}

.podcasts__btn-wrrapper {
  display: flex;
  justify-content: center;
}

.podcasts__btn {
  padding: 15px 28px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 40px;
}

/* Shows */

.shows {
  padding-block: 55px 10px;
}

.shows-wrapper {
  display: flex;
  flex-direction: column;
}

.shows__title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.shows__label {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.shows__authors {
  margin-bottom: 30px;
  padding: 10.5px 8px 12px;
  width: 100%;
  border: none;
  background-color: var(--color-light-40-percent);
  border-radius: 10px;
}

.shows__archive-wrapper {
  display: none;
}

.shows__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.shows__card {
  width: calc(50% - 15px);
}

.show {
  background-color: var(--color-white);
}

.show__image {
  height: 50px;
  line-height: 0;
  overflow: hidden;
}

.show__image > picture > * {
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.show__info {
  padding: 9px;
  padding-bottom: 11px;
  display: flex;
  flex-direction: column;
  min-height: 99px;
  border: 1px solid var(--color-light);
}

.show__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1;
}

.show__date {
  margin-top: 0;
  margin-bottom: auto;
  font-size: .5625rem;
  line-height: 1;
  color: var(--color-text-gray);
}

.show__link {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: .75rem;
  line-height: 1;
  color: var(--color-primary);
  text-decoration: none;
}

.show__link-arrow {
  margin-left: 5px;
}

.shows__archive-wrapper-after {
  padding-top: 29px;
  display: flex;
  gap: 13px;
  border-top: 1px solid var(--color-light);
}

.shows__archive-mic {
  width: 77px;
  flex-shrink: 0;
  min-height: 105px;
  background-image: url('../img/mic.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.shows__archive-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shows__archive-text {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: .875rem;
  line-height: 1.5;
  color: var(--color-text-gray);
}

.shows__archive-btn {
  padding: 6px 18px;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.shows__archive-btn-icon {
  margin-right: 5px;
}

/* Guests */

.guests {
  background-color: var(--color-black);
}
